<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Welcome <%= data.name %></h1>
    <h2>Age: <%= data.age %></h2>
    <h3>Email: <%= data.email %></h3>
</body>
</html>