<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        body{
            background-color: #202020;
        }
        ul{
            background-color: #121111;;
            display: flex;
            justify-content: space-evenly;
            padding: 20px;
            
        }
        li{
            list-style: none;
            
        }
        a{
            font-size: 20px;
            text-decoration: none;
            color: white;
            transition: all 0.3s ease-in-out;
        }
        a:hover{
            color: red;
        }
        
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign-Up</a></li>
            <li><a href="/signin">Sign-In</a></li>
        </ul>
    </nav>
</body>
</html>