<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <h1>Main</h1>
    <button type="logout">Logout</button>
    
    <script src="/logout.js"></script>
</body>
</html>