<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/authPages.css">
    <title>SignIn</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign-Up</a></li>
            <li><a href="/signin">Sign-In</a></li>
        </ul>
    </nav>
    <div class="inputs">
        <h1>Sign-In</h1>

        <form id="userForm">
            <input type="text" placeholder="name" id="name">
            <input type="text" placeholder="email" id="email">
            <input type="password" placeholder="password" id="password">
            <button type="submit">Sign-In</button>
        </form>

    </div>
    
    <script src="/signin.js"></script>
</body>
</html>